@import 'https://fonts.googleapis.com/css?family=Open Sans:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: #466060;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: #466060;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #F8C7CC;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #F8C7CC;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #F8C7CC;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #F8C7CC;
}


/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: #15c7c4;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-bar .brand a h1{
	color: #f2090d;
}
#header .nav-list a {

    margin:0 1rem;
    color: aliceblue;
    font-size: large;

}

#intro {
	background-image: url(back1.jpeg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#intro::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #f3ecc4;
	opacity: 0.7;
	z-index: -1;
}
#intro .intro {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#intro h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
	color: #776eef;
}
#intro h1:nth-child(1) {
	animation-delay: 1s;
}
#intro h1:nth-child(2) {
	animation-delay: 2s;
}
/* #intro h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
} */
#intro h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #F8C7CC;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#intro h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#intro h1:nth-child(2) span {
	animation-delay: 1.5s;
}
/* #intro h1:nth-child(3) span {
	animation-delay: 2.5s;
} */


#about{
	background-color: #f8b382;
}
#about .about {

	flex-direction: column-reverse;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .row-bottom {
	width: 400px;
	height: 450px;
}
#about .row-up {
	width: 100%;
}
#about .row-up h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .row-up p {
	margin-bottom: 20px;
}
#about .row-up .cta {
	color: #466060;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .row-bottom .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .row-bottom .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #F8C7CC;
	z-index: -1;
}
/* End About Section */


/* certifications Section */
#certifications .certifications {
	flex-direction: column;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 0;
}
#certifications .certification-top {
	max-width: 400px;
	margin: 0 auto;
}
#certifications .certification-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

/* .section-meals {
    padding: 100px;
} */

.certifications-showcase {
    list-style: none;
    width: 100%;
	
}

.certifications-showcase li {
    display: block;
    float: left;
    width: 50%;
	padding: 10px;
}

.certification-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #466060;
	
}

.certification-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.certification-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

figcaption {
	background-color: #466060;
	color: white;
	font-style: italic;
	padding: 2px;
	text-align: center;
  }


  /* project Section */
#project .project {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#project .project-items {
	/* max-width: 400px; */
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
}
#project .project-item {
	width: 50%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	box-shadow: 0px 0px 18px 0 #466060;
	transition: 0.3s ease box-shadow;
}
#project .project-item:hover {
	box-shadow: 0px 0px 5px 0 #466060;
}
#project .icon {
	width: 30%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.project-info{
	width: 50%;
}
#project .project-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#project .project-info p {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End project Section */



/* contact Section */

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 10% auto;
	width: 90%;
	height: 40vh;
}
#contact .contact-items {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: space-around;
}
#contact .contact-item {
	width: 50%;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	box-shadow: 0px 0px 18px 0 #466060;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #466060;
}
#contact .icon {
	width: 30%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.contact-info{
	width: 70%;
}
#contact .contact-info a h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
	color: darksalmon;
}
#contact .contact-info a {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
	color: darksalmon;

}

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #b0d0f3 0%, #6eacef 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: opacity(30%);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */