$standard: 1rem;

$blue-100: #bcd2e8;
$blue-200: #91bad6;
$blue-300: #73a5c6;
$blue-400: #528aae;
$blue-500: #2e5984;
$blue-600: #1e3f66;
$red-100:rgb(243, 123, 123);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui;
    font-size: 1rem;
    line-height: 1.4;
    color: $blue-600;
    background-color: $blue-100;
    -webkit-font-smoothing: $blue-300;
    letter-spacing: 0.012em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: $red-100;

}

// :focus {
//     outline: 0.125rem solid $blue-500;
// }

.navbar,
.footer {
    width: 100%;
    padding: $standard ($standard * 0.5);
    background-color: $blue-200;
    text-align: center;
    font-weight: 700;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: ($standard * 2) ($standard * 2) 0;
    box-shadow: 0 0 $standard rgba(0, 0, 0, 0.03),
        0 $standard ($standard * 2) rgba(0, 0, 0, 0.05),
        0 ($standard * 2) ($standard * 4) rgba(0, 0, 0, 0.05),
        0 ($standard * 4) ($standard * 8) rgba(0, 0, 0, 0.05);
}

.form_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: ($standard * 2);
}


.form_detail_header {
    text-align: center;
    margin: 0 0 ($standard * 2);
}

.form_detail_heading {
    margin: 0 0 ($standard * 0.5);
}


.form_field {
    margin-bottom: $standard * 2;

    &:last-child {
        margin-bottom: 0;
    }
}

.form_label {
    display: inline-block;
    margin-bottom: $standard * 0.25;
    font-weight: 700;
    color: $blue-500;

    &[for] {
        cursor: pointer;
    }
}

.form_input {
    display: block;
    width: 100%;
    border: 1px solid $blue-300;
    border-radius: $standard * 0.25;
    padding: ($standard * 0.75) $standard;
    color: inherit;
    font-family: inherit;
}


.btn {
    display: block;
    width: 100%;
    font-family: inherit;
    background: $blue-400;
    color: #fff;
    border: 0;
    border-radius: $standard * 0.25;
    padding: ($standard * 0.75) $standard;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: inherit;
    margin-bottom: $standard * 0.5;

    &:hover,
    &:focus {
        background-color: $blue-500;
    }
}

.form_submit a {
    font-size: 0.875rem;
}

.about {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $standard * 4;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

@media (min-width: 48rem) {
    

    .form {
        margin: 0;
        box-shadow: none;
    }

    .form_detail {
        width: $standard * 26;
    }

    .about_detail {
        max-width: 36rem;
        margin: auto;
    }
}

@media (min-width: 72rem) {
    .form_detail {
        width: $standard * 33;
        padding: ($standard * 4);
    }
}

